.draw {
    margin: auto;
    display: flex;
    justify-content: center;
}


.mistakes-remaning {
    text-align: center;
    color: aliceblue;
}

.mistakes-count {
    text-align: center;
  }
  
  .man-bounce {
    animation: shimmy 1s infinite;
    animation-direction: alternate;
  }


  .time{
    color: white;
    padding: inherit;
    text-align: center;
  }
  @keyframes shimmy {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(0px, 17px);/*first value is x, second is y*/
    }
  }








  @media (min-width: 350px) and (max-width: 420px) {
    .draw {
       margin-top: -25%;
       width: 40%;

    }

    
    .mistakes-count {
        text-align: center;
        margin-bottom: 0%;
        margin-top: -17%;
      }

    }