.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6em;
    border-color: aqua;
    border-style: groove;
    border-radius:30em ;
}
.welcome {
    background-color:transparent; 
    border-color: transparent;
    margin-left: 5%;
    color: aliceblue; 
    font-size: 6em;
    position: absolute;
}
.ready {
    background-color:transparent; 
    border-color: aqua;
    border: 100%;
    border-radius: 30%;
    margin-left: 46%;
    bottom: 40%;
    color: aliceblue; 
    font-size: 3em;
    position: absolute;
    z-index:500;
}

.difficulty{
    color: white ; 
    font-size:6em;
    margin-left: 10%;
}

.easy {
    background-color:transparent; 
    border-color: aqua;
    border: 100%;
    border-radius: 30%;
    margin-left: 46%;
    bottom: 60%;
    color: aliceblue; 
    font-size: 3em;
    position: absolute;
    z-index:500;
}
.hard {
    background-color:transparent; 
    border-color: aqua;
    border: 100%;
    border-radius: 30%;
    margin-left: 46%;
    bottom: 40%;
    color: aliceblue; 
    font-size: 3em;
    position: absolute;
    z-index:500;
}
.mistakes-remaning {
    text-align: center;
    color: aliceblue;
}

.mistakes-count {
    text-align: center;
  }
  
  .man-bounce {
    animation: shimmy 1s infinite;
    animation-direction: alternate;
  }
  @keyframes shimmy {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(0px, 17px);/*first value is x, second is y*/
    }
  }