.btn {
    position: relative;
    z-index: 5000;
    background-color: aqua;
}
.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6em;
    border-color: aqua;
    border-style: groove;
    border-radius:30em ;
}
.welcome {
    margin: auto;
    display: block;
    color: aliceblue; 
    text-align: center;
    position: relative;
    color: rgb(180, 248, 253);
    text-shadow:
        0 0 7px rgb(206, 255, 8),
        0 0 10px rgb(0, 203, 248),
        0 0 21px rgb(11, 218, 255),
        0 0 42px rgb(20, 191, 225),
        0 0 82px rgb(11, 216, 231),
        0 0 92px rgb(58, 222, 244),
        0 0 102px rgb(212, 255, 83),
        0 0 151px rgb(201, 255, 63);
    margin-top: 2%;
    font-size: 5em;
}
.ready {
    background-color:transparent; 
    border-color: aqua;
    border-radius: 30%;
    display: flex;
    margin: auto;
    margin-top: 26%;
    justify-content: center;
    color: aliceblue; 
    font-size: 3em;
    position: relative;
    z-index:500;
}

.difficulty{
    color: white ; 
    font-size:6em;
    text-align: center;
}

.btns {
    background-color:transparent; 
    border-color: aqua;
    border-radius: 30%;
    display: flex;
    margin: auto;
    justify-content: center;
    bottom: 60%;
    color: aliceblue; 
    font-size: 3em;
    position: relative;
    z-index:500;
}

@media (min-width: 350px) and (max-width: 800px) {
    .title {

        font-size: 3em;

    }
    .difficulty{
        font-size: 3em;
    }

    }



// --------------------


