<!-- The Game object -->
<div *ngIf="isButtonVisible1==false&&this.isButtonVisible2 == false&&this.isButtonVisible3 == false &&this.isButtonVisible4 == true">

<!---------------- First title ----------------->
    <h1 class="title" >Hangman</h1>   
    <div class="hangeman"><!--give the class css for the game -->
    <app-game-dispaly (gameFinished)="onGameFinished()" [guesses]="guesses" [question]="question" 
    [timeLeft]="timeLeft" [mistakesRemaining]="mistakesRemaining" 
    [interval]="interval" [success]="success"></app-game-dispaly> <!--all the words that in list are inputs from another components -->
    <ng-container  *ngIf="!restartGamebtnShown else restartGameBtn"><!--check if there is a reset button after the game is finished -->
        <app-game-question [guesses]="guesses" [question]="question" ></app-game-question><!--gets the questions and gusses input from question componenet  -->
        <app-game-keyboard (keyPressed)="guess($event)" [question]="question"></app-game-keyboard><!--get guesses and question from question component  -->
      </ng-container>
</div>
<!--Reset button-->
<ng-template #restartGameBtn>
    <button mat-raised-button color="primary" (click)="reset();this.isButtonVisible2=true" style="display: block;margin: auto; align-items: center;">
      {{'Restart Game'}}
    </button>
  </ng-template>
</div>


<!--Ready button-->
<div  *ngIf="isButtonVisible1"  >
    <h1 class="title" >Hangman</h1>
   <p class="welcome" style="text-align:center"  >Welcome to Hangman Game </p> 
    <button class="ready" type="button" (click)="this.isButtonVisible1 = false" >Ready</button>

</div>

<!--Ready button-->
<div  *ngIf="isButtonVisible1==false&&this.isButtonVisible2 == true"  >
  <h1 class="title" >Instruction</h1>
 <p class="instructon" style="text-align:center"  >You need to find the right word to fit each line, 
  <br>
  for each wrong answer the remaining mistake will decrease if u don't answer in 30 sec you lose immediately <br>
  If you feel ready click on 'Ready'<br>
  Good Luck
</p> 
  <button class="ready" type="button" (click)="this.isButtonVisible2 = false&&this.isButtonVisible3 == true" >Ready</button>

</div>


<!--Choose category and starting time buttons-->
<div *ngIf="isButtonVisible1==false&&this.isButtonVisible2 == false &&this.isButtonVisible3 == true" >
    <p class="difficulty">Choose your Category:</p>
    <button class="btns" (click)="this.isButtonVisible3 = false; easy();startTimer()" > Fruits </button>
    <button Id="Pl" class="btns" (click)="this.isButtonVisible3 = false; custome('programing');startTimer()" style="margin-top: 5%" >Programing Languages</button>
    <button class="btns" (click)="this.isButtonVisible3 = false; custome('animals');startTimer()" style="margin-top: 5%;" >Animals</button>
    <button class="btns" (click)="this.isButtonVisible3 = false; hard();startTimer()" style="margin-top: 5%;" >Random</button>
</div>



