<div class="snow"></div>




<div  *ngIf="isButtonVisible1"  >
    <h1 class="title">Hangman</h1>
    <button class="welcome" type="button"  >Welcome to Hangman Game </button> 
    <br>
    <button class="ready" type="button" (click)="this.isButtonVisible1 = false">Ready</button>

</div>

<div *ngIf="isButtonVisible1==false&&this.isButtonVisible2 == true" >
    <p class="difficulty">Choose your difficulty:</p>
    <button class="easy" (click)="this.isButtonVisible2 = false" [routerLink]="['easy']">Easy</button>
    <button class="hard" (click)="this.isButtonVisible2 = false" >Hard</button>
</div>